<!DOCTYPE HTML>
<html>

<head>
    <title>Socket-Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        
        var socket

        $(document).ready(function() {
            namespace = '/api';
            socket = io(namespace);

            //eventhandler to recieve stuff from server 
            socket.on('vote_result', function(msg) {
                console.log(msg)        
                for (var i = 0; i < msg.length; i++) {
                    var voters = msg[i].voters;
                    //find right html list elem 
                    var elem = document.getElementById("option-" + i).children[1];
                    elem.innerHTML = ""
                    for (var j = 0; j <voters.length; j++) {
                        var voter = voters[j]
                        //create new elem
                        var li = document.createElement("li")
                        li.innerText = voter;
                        elem.appendChild(li);
                    }
                }    
            });
            //check if there's a name available in local storage
            if (window.localStorage.getItem("name") !== null)
                document.getElementById("name").value = window.localStorage.getItem("name")
        });
        
        function vote(option) { 
            console.log("Val: " + option)
            socket.emit("vote", {"name": window.localStorage.getItem("name"), "option": option}) 
        }

        function savename() {
            //save name in local storage
            var name = document.getElementById("name").value
            window.localStorage.setItem("name", name);
        }

    </script>

    <!-- some style stuff -->
    <style>
        .vote { 
            padding: 30px;
            border-radius: 5px;}

        .voters {
            border: 2px solid black;
            border-radius: 5px;
        }
            
        #page {
            padding: 30px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100vh;
            justify-content: space-between;
        }
        #vote-area {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    </style> 

</head>
<body style="background-color:rgb(236, 106, 106); margin: 0;">

    <div id ="page">
        <!-- use flexbox -->
        <input type="text" placeholder="Namn" id="name" oninput="savename()">

        <div id="vote-area">
            <div id="option-0" class="option">
                <button class="vote" onclick="vote(0)"> Fist</button>
                <ul class="voters">
                    <li>xxxx</li>
                </ul>
            </div>
            <div id="option-1" class="option">
                <button class="vote" onclick="vote(1)"> One</button>
                <ul class="voters">
                    <li>xxxx</li>
                </ul>
            </div>
            <div id="option-2" class="option">
                <button class="vote" onclick="vote(2)"> Two</button>
                <ul class="voters">
                    <li>xxxx</li>
                </ul>
            </div>
            <div id="option-3" class="option">
                <button class="vote" onclick="vote(3)"> Three</button>
                <ul class="voters">
                    <li>xxxx</li>
                </ul>
            </div>
            <div id="option-4" class="option">
                <button class="vote" onclick="vote(4)"> Four</button>
                <ul class="voters">
                    <li>xxxx</li>
                </ul>
            </div>
            <div id="option-5" class="option">
                <button class="vote" onclick="vote(5)"> Five</button>
                <ul class="voters">
                    <li>xxxx</li>
                </ul>
            </div>

        </div>

        <div id="controls">
            <button>
                Create new
            </button>
        </div>
    </div>

</body>
</html>